@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    /* Cores Primárias (Tons principais) */
    --primaria-100: #167c8f; /* Cor primária - Tom mais escuro */
    --primaria-200: #1da2bb; /* Cor primária - Tom médio */
    --primaria-300: #2cc3df; /* Cor primária - Tom mais claro */
  
    /* Cores de Destaque (Tons de ênfase) */
    --destaque-100: #e0b14a; /* Cor de destaque - Tom mais escuro */
    --destaque-200: #f3c453; /* Cor de destaque - Tom médio */
    --destaque-300: #f9d880; /* Cor de destaque - Tom mais claro */
  
  
    /* Cores de Fundo */
    --fundo-100: #fbfdfd; /* Fundo principal (mais claro) */
    --fundo-200: #eaf5f5; /* Fundo secundário */
    --fundo-300: #d9ecec; /* Fundo terciário */
    
    /* Cores do Texto */
    --texto-100: #031619; /* Cor do texto - Tom mais escuro */
    --texto-200: #083e47; /* Cor do texto - Tom médio */
    --texto-300: #0e6674; /* Cor do texto - Tom mais claro */
  }
  *{
    margin: 0;
    padding: 0;
  }
  body{
    background-image: repeating-conic-gradient(#eaf5f5 0% 25%, #eaf5f5 0% 50%);
    background-position: 0 0, 32px 32px;
    background-size: 64px 64px;
    background-color: #eaf5f5;
    font-family: 'Poppins' Arial, Helvetica, sans-serif;

    
  }
  header{
    background-color: var(--fundo-100);
  }
  